body {
    background-color: #E5E8E8;
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    background-color: #2980B9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-imagem {
    height: 100px;
    width: 100px;
    padding: 20px;
}

.cabecalho-lista {
    display: flex;
    list-style: none; 
}

.cabecalho-lista-item {
    padding-right: 20px;
    font-size: 1.2rem;
}

.cabecalho-link {
    text-decoration: none;
    color: #FFFFFF;
}

.secao {
    background-color: #FFFFFF;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #000000;
}

.secao-div {
    display: flex;
}

.secao-div h1 {
    padding-top: 20px;
}

.secao-div p {
    padding-right: 40px;
}

.secao-div-imagem {
    height: auto;
    width: 780px;
    padding: 30px 30px 30px 30px;
}

.secao-div_2 {
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
}

.secao-div_2-imagem {
    height: auto;
    width: 700px;
    padding: 30px 30px 30px 30px;
}

.rodape {
    background-color: #1B2631;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.rodape h1 {
    padding-right: 20px;
    color: #FFFFFF;
}

.rodape-imagem {
    height: 100px;
    width: auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

